*{
  font-family: "JetBrains Mono NF";
}

.wther_in4{
  background-color:#2d1a09;

}
.air_cond{
 color:#ff8f42;
 margin-left:15px;
 margin-top:15px;
 font-size:14px;
}
.precip{
  color:#ff9a4b;

  font-size:14px;
  margin-bottom:-100px;
  margin-left:-32px;

}

.delta_temp{
  color:#ff9a4b;

  font-size:14px;
  margin-bottom:-60px;
  margin-left:-35px;
}
.humidity{
  color:#ff9a4b;
  margin-top:60px;
  margin-left:-135px;

  font-size:14px;
}
.uv_i{
  color:#ff9a4b;
  margin-top:15px;
  margin-left:15px;

  font-size:14px;

}
.wind_cond{
  color:#ff9a4b;
  margin-top:100px;
  margin-left:-200px;
 
  font-size:14px;

}
.moon_phase{
  margin-left:-200px;
  margin-top:50px;
  font-size:40px;
}
.tempout{
  color:#ff9a4b;
  background-color:#251004;
  margin-bottom:110px;
  margin-top:15px;
  margin-right:5px;
//  margin-right:-170px;
  border-radius:8px;

  font-size:30px;
}
.tempoutr{
  background-color:#ff9a4b;
  color:#251004;
  margin-right:5px;
  margin-top:15px;
  border-radius:8px;
  font-size:30px;
  margin-bottom:110px;


}
.wther_ic{

  color:#ff9a4b;
  border-radius:10px;
  margin-left:-200px;
  font-size:50px;
  margin-top:10px;
  margin-bottom:110px;

}
.t1{
  margin-bottom:140px;
  margin-top:10px;

  border-radius:5px;
  background-color:#ff9a4b;
  color:#251004;
}
.t2{
  color:#ff9a4b;
  margin-top:10px;
  border-radius:5px;
  background-color:#251004;

  margin-bottom:140px;
}
.cal{
  border-radius:10px;
  background-color:#1d1d1d;
  font-size : 11px;
}

.calendr{
  margin: 30px;
  background-color:#282828;
  border-radius:1px;
  //min-height:150px;
  //min-width:160px;
  font-size : 40px;

  font-weight : bold;
}
.diw{
    margin-left: 30px;
    margin-bottom:10px;
    color: #ff9a4b;
}
.hour{
    margin-bottom: 50px;
    //margin-right:30px;
    color: #FF884B;
    
    
}
.slash{
  margin-top:15px; 
  color:#ff9a4b;
}
.day{
 background-color:#282828;
 color:#E9A178; 
 margin-bottom: 80px;
}
.month{
 margin-top:80px;
 margin-right:10px;
 background-color:#282828;
 color:#A84448;
}

////////////////////////MUSIC PLAYER/////////////////////
.controlling-box{
  font-size:1.4rem;
  margin-top: 0.1rem;
}
.m_width {
  padding-left:10em;
  padding-right:10em;
}
.artcover {
   background-color:#1e1000;
   border-radius:1em;
   //margin-top:2em;
   padding-right:1em;
   padding-left:1em;
   margin-left:-1.5em;
 }

.mus-title {
   
  //margin-top:0.0em;
  margin-left:1.5rem;
  margin-right:1.5rem;

}
.dur{
  
   color:#fca118;
   margin-top: 1em;
   font-size:12px;
  
   
}
.active{
  color:#fca118; 
  background-color:unset;
  //margin: 4.5em -1em 1em 1em;
  margin-left:-0.1em;
  margin-right:-0.1em;
  border-radius:10px;
  border:none;

}
.prev, .next{
  //margin-right: 0.5em;
  background-color:unset;
  color:#ffb962;
  //margin: 4.5em 1em 1em 1em;
  border-radius:10px;
  border:none;
}
.stepfb {
  background-color: unset;
  color:#ff8f42;
  margin-left:0.1em;
  border:none;
}
.ma {

  color: #f4c985;
  background-color:#291703;
  border-radius:10px;
  font-size : 14px;
  font-weight : bold;
  margin-left :20px;
}

.artist {
  color: #341d04;
  background-color:#ffb962;
  font-size : 11px;
  padding-top:0.2em;
  padding-bottom:0.2em;
  border-radius:10px;
  margin-right:1em;
  margin-top:0.8em;
}
slider {
  background-color: unset;
  border:none;
  
}
.duration-bar slider{
  margin: -5px;

}
.duration-bar {
  margin-top:1em;
}
.scler slider {
  margin:-1px;
}
.scler trough    {
 background-color:#291703;
 border-radius:5px;
 border: solid #ffb952 2px;
}
.duration-bar trough {
  background-color:#291703;
}

.scler highlight, .duration-bar highlight {
  background-color:#ffb952;
}
.v_wget  {
  //margin:3px 3px 3px 4px;
  background-color:#291703 ;
  border-radius:5px;
  //color:#ffb952;
  min-height:47px;
  min-width:16px;
}

.chng_locc{
  background-color:#2d1a09;
}
.loc_input{
  color:#ff9a4b;
  background-color:#2d1a09;
  border: None;
  //margin-left:30px;
}

.deco_1{
    font-size:30px; 
    color: #FF885d;
    background-color:#251004 ;
    margin-left:0em;
    padding-left:0.2em;
    margin-top:-0.2em;
   
}
.deco_2{
    color: #ff9a4b;
    font-size:50px;
    border-radius:45px;   
    margin-left:30px;
   }
.deco_3{
    color: #1e1000;
    border-radius:4px;
    background-color:#ff9a4b;
    font-size:20px;
    border:None;
    margin-left:-36px;
    margin-top:20px;
}
.btt_options{
    font-family:inherit;
    color:#ff9a4b;
    background-color:#2d1a09;
    font-size:25px;
    border-radius:10px;
    margin-left:-60px;
    margin-right:20px;
    margin-top:130px;
    margin-bottom:20px;
}


