.artcover {
  margin-right: 10px;
  background-color:#281a0b;

  border-radius:5px;
}
.dur{
  //background-color:#1f1f1f;
  color:#fca118;
  margin-right:-320px;
  margin-top:-22px;
}
.wther_in4{
  background-color:#2d1a09;

  //min-height:00px;
  //margin-top:10px;
  //min-width:200px;
}
.air_cond{
 color:#ff8f42;
 margin-left:15px;
 margin-top:15px;
 font-family:Noto Mono Nerd Font;
 font-size:14px;
}
.precip{
  color:#ff9a4b;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
  margin-bottom:-100px;
  margin-left:-32px;

}

.delta_temp{
  color:#ff9a4b;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
  margin-bottom:-60px;
  margin-left:-35px;
}
.humidity{
  color:#ff9a4b;
  margin-top:60px;
  margin-left:-135px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
}
.uv_i{
  color:#ff9a4b;
  margin-top:15px;
  margin-left:15px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;

}
.wind_cond{
  color:#ff9a4b;
  margin-top:100px;
  margin-left:-200px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;

}
.moon_phase{
  margin-left:-200px;
  margin-top:50px;
  font-size:40px;
}
.tempout{
  color:#ff9a4b;
  background-color:#251004;
  margin-bottom:110px;
  margin-top:15px;
  margin-right:5px;
//  margin-right:-170px;
  border-radius:8px;
  font-family: Noto Mono Nerd Font;
  font-size:30px;
}
.tempoutr{
  background-color:#ff9a4b;
  color:#251004;
  margin-right:5px;
  margin-top:15px;
  border-radius:8px;
  font-size:30px;
  margin-bottom:110px;
  font-family: Noto Mono Nerd Font;

}
.wther_ic{
  //background-color:#211d1a;
  color:#ff9a4b;
  border-radius:10px;
  margin-left:-200px;
  font-size:50px;
  margin-top:10px;
  margin-bottom:110px;
  font-family: Noto Mono Nerd Font;
}
.t1{
  margin-bottom:140px;
  margin-top:10px;

  border-radius:5px;
  background-color:#ff9a4b;
  color:#251004;
}
.t2{
  color:#ff9a4b;
  margin-top:10px;
  border-radius:5px;
  background-color:#251004;

  margin-bottom:140px;
}
.cal{
  border-radius:10px;
  background-color:#1d1d1d;
  font-size : 11px;
  font-family: Noto Mono Nerd Font;
}

.calendr{
  margin: 30px;
  background-color:#282828;
  border-radius:1px;
  //min-height:150px;
  //min-width:160px;
  font-size : 40px;
  font-family: Noto Mono Nerd Font;

  font-weight : bold;
}
.diw{
    margin-left: 30px;
    margin-bottom:10px;
    color: #ff9a4b;
}
.hour{
    margin-bottom: 50px;
    //margin-right:30px;
    color: #FF884B;
    
    
}
.slash{
  margin-top:15px; 
  color:#ff9a4b;
}
.day{
 background-color:#282828;
 color:#E9A178; 
 margin-bottom: 80px;
}
.month{
 margin-top:80px;
 margin-right:10px;
 background-color:#282828;
 color:#A84448;
}
.active{
  
  background-color:unset;
  margin-top:30px;
  margin-bottom:55px;
  margin-right:-70px;
  margin-left:40px;
  border-radius:10px;
  border:none;

}
.prev{
  all:unset;
  background-color:unset;
  margin-top:35px;
  margin-bottom:55px;
  margin-right:-30px;
  margin-left:0px;
  border-radius:10px;
  border:none;

}
.next {
  all:unset;
  background-color:unset;
  margin-top:35px;
  margin-bottom:55px;
  margin-right:-105px;
  margin-left:75px;
  border-radius:10px;
  border: none;
}
.ma {

  color: #f4c985;
  background-color:#352511;
  border-radius:10px;
  font-size : 14px;
  font-weight : bold;
  margin-left :20px;
}

.artist {
  color: #281a0b;
  background-color:#ffb962;
  font-size : 13px;
  font-style : italic;
  margin-right:15px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:10px;
  min-width:135px;
}
slider {
  background-color: unset;
  margin: -3px ;
  border:none;
  
}
.scler trough    {
 
 background-color:unset;
 border-radius:5px;
 border: solid #341d04 2px;
 
}
//.scler highlight {
//  background-color:#ffb962;
//}
.v_wget  {
  //margin:3px 3px 3px 4px;
  background-color:#ffb962 ;
  border-radius:5px;
  //color:#ffb952;
  min-height:47px;
  min-width:16px;
}
/*..vmain_box{
  background-color: #fa9052;
  min-width:20px;
  min-height:10px;
}*/
.chng_locc{
  background-color:#2d1a09;
}
.loc_input{
  color:#ff9a4b;
  background-color:#2d1a09;
  border: None;
  //margin-left:30px;
}

.deco_1{
    font-size:30px; 
    color: #FF885d;
    background-color:#251004 ;
    margin-left:-0.2em;
    margin-top:-0.2em;
   
}
.deco_2{
    font-family: Noto Mono Nerd Font;
    color: #ff9a4b;
    font-size:50px;
    border-radius:45px;   
    margin-left:30px;
   }
.deco_3{
    font-family: Noto Mono Nerd Font;
    color: #1e1000;
    border-radius:4px;
    background-color:#ff9a4b;
    font-size:20px;
    border:None;
    margin-left:-36px;
    margin-top:20px;
}
.btt_options{
    font-family:inherit;
    color:#ff9a4b;
    background-color:#2d1a09;
    font-size:25px;
    border-radius:10px;
   // border:5px #1d1d1d;
    margin-left:-60px;
    margin-right:20px;
    margin-top:130px;
    margin-bottom:20px;
}


