.artcover {
  margin-right: 10px;
  background-color:#1d1d1d;

  border-radius:5px;
}
.dur{
  //background-color:#1f1f1f;
  color:#ee895b;
  margin-right:-320px;
  margin-top:-22px;
}
.wther_in4{
  background-color:#211d1a;
  min-height:00px;
  margin-top:10px;
  min-width:200px;
}
.air_cond{
 color:#E5B299;
 margin-left:15px;
 margin-top:15px;
 font-family:Noto Mono Nerd Font;
 font-size:14px;
}
.precip{
  color:#E5B299;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
  margin-bottom:-100px;
  margin-left:-32px;

}

.delta_temp{
  color:#E5B299;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
  margin-bottom:-60px;
  margin-left:-35px;
}
.humidity{
  color:#E5B299;
  margin-top:60px;
  margin-left:-135px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;
}
.uv_i{
  color:#E5B299;
  margin-top:15px;
  margin-left:15px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;

}
.wind_cond{
  color:#E5B299;
  margin-top:100px;
  margin-left:-200px;
  font-family:Noto Mono Nerd Font;
  font-size:14px;

}
.moon_phase{
  margin-left:-200px;
  margin-top:50px;
  font-size:40px;
}
.tempout{
  color:#f0997d;
  background-color:#1B120F;
  margin-bottom:110px;
  margin-top:15px;
  margin-right:15px;
//  margin-right:-170px;
  border-radius:8px;
  font-family: Noto Mono Nerd Font;
  font-size:30px;
}
.tempoutr{
  background-color:#f0997d;
  color:#1f1e1c;
  margin-right:15px;
  margin-top:15px;
  border-radius:8px;
  font-size:30px;
  margin-bottom:110px;
  font-family: Noto Mono Nerd Font;

}
.wther_ic{
  //background-color:#211d1a;
  color:#f0997d;
  border-radius:10px;
  margin-left:-200px;
  font-size:50px;
  margin-top:10px;
  margin-bottom:110px;
  font-family: Noto Mono Nerd Font;
}
.t1{
  margin-bottom:140px;
  margin-top:10px;
  border-radius:5px;
  background-color:#f0997d;
  color:#211d1a;
}
.t2{
  color:#f0997d;
  margin-top:10px;
  border-radius:5px;
  background-color:#1B120F;

  margin-bottom:140px;
}
.cal{
  border-radius:10px;
  background-color:#1d1d1d;
  font-size : 11px;
  font-family: Noto Mono Nerd Font;
}

.calendr{
  margin: 30px;
  background-color:#282828;
  border-radius:1px;
  //min-height:150px;
  //min-width:160px;
  font-size : 40px;
  font-family: Noto Mono Nerd Font;

  font-weight : bold;
}
.diw{
    margin-left: 30px;
    margin-bottom:10px;
    color: #F0997D;
}
.hour{
    margin-bottom: 50px;
    //margin-right:30px;
    color: #FF884B;
    
    
}
.slash{
  margin-top:15px; 
  color:#FFBC97;
}
.day{
 background-color:#282828;
 color:#E9A178; 
 margin-bottom: 80px;
}
.month{
 margin-top:80px;
 margin-right:10px;
 background-color:#282828;
 color:#A84448;
}
.active{
  background-color:#1f1f1f;
  margin-top:30px;
  margin-bottom:52px;
  margin-right:-70px;
  margin-left:35px;
  border-radius:10px;
}
.prev{
  background-color:#2f2f2f;
  margin-top:30px;
  margin-bottom:52px;
  margin-right:-30px;
  margin-left:0px;
  border-radius:10px;
}
.next{
  background-color:#2f2f2f;
  margin-top:30px;
  margin-bottom:52px;
  margin-right:-105px;
  margin-left:75px;
  border-radius:10px;
}
.ma {

  color: #ffc699;
  background-color:#282828;
  border-radius:10px;
  font-size : 14px;
  font-weight : bold;
  margin-left :20px;
}

.artist {
  color: #1d1d1d;
  background-color:#ffc699;
  font-size : 13px;
  font-style : italic;
  margin-right:15px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:10px;
  min-width:135px;
}
.scler{
  margin-left:20px; 
}
.v_wget {
  margin:3px 3px 3px 4px;
  background-color:#211d1a ;
  border-radius:12px;
  min-height:47px;
  min-width:197px;
}
.vmain_box{
  background-color: #fa9052;
  min-width:200px;
  min-height:50px;
}
